@import 'tailwindcss';

html {
  font-family: 'Geist', sans-serif;
}

@theme {
  --color-primary: oklch(0.65 0.2 145);
  --color-primary-foreground: white;
  --color-secondary: oklch(0.85 0.15 85);
  --color-secondary-foreground: black;
}
